<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style th:replace="fragments/style :: style"></style>

    <title>Boran Jork BTB G4</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <br>
    <a href="/create" class="btn btn-primary">Creat New Article</a>
    <a class="" href="?lang=en">English</a>
    <a class="" href="?lang=km">Khmer</a>
    <a class="" href="?lang=ko">Korea</a>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{title}">Title</th>
            <th scope="col" th:text="#{description}">Description</th>
            <th scope="col" th:text="#{image}">Image</th>
            <th th:text="#{action}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <th scope="row" th:text="${article.id}"></th>
            <td th:text="${article.title}"></td>
            <td th:text="${article.description}"></td>
            <td>
                <img th:src="${article.imageURL}" width="100px" src="" alt="">
            </td>
            <td>
                <a class="btn btn-outline-success" th:href="@{/{id}/view(id=${article.id})}">View</a>
                <a th:href="@{/{id}/edit(id=${article.id})}" class="btn btn-outline-warning">Edit</a>
                <form th:action="@{/{id}/delete(id=${article.id})}" th:method="get">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>